.home-div{

color: red;

}


.about-div{

  color: green;
  
  }

.header{
  height: 100px;
  width: 100%;
  float: left;
  background-color:lightblue;
}

.footer{
  height: 100px;
  width: 100%;
  float: left;
  background-color: lightgreen;
}